.contenido{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.card{
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
}

.card-header{
    height: 300px;

}

.card-header img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
}

.card button{
    color: white;
    height: 40px;
    width: 100%;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Progressbar ///////////////////// */
.progress{
    height: 40px;
}