<nav id="my-first">
  <ul>
      <li class="logotype">
          <a routerLink="/clientes/listar">
            Gestion de usuarios
          </a>
      </li>
      <li class="burger" (click)="toggleMenu()">
          <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen">
        <a *ngIf="authService.hasRole('ROLE_ADMIN')" class="menu-item" routerLink="/clientes/form" [routerLinkActive]="'active'">Crear</a>
        <a *ngIf="authService.isAuthenticated()" class="menu-item" routerLink="/clientes/listar" [routerLinkActive]="'active'">Listar</a>
        <a *ngIf="authService.isAuthenticated()" (click)="logout()" class="menu-item"> Cerrar sesion</a>
      </li>
  </ul>

</nav>
