
<div class="contenedor">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="contenido">
        <!-- <button (click)="mostrar=!mostrar" class="btn btn-primary ">{{mostrar==false? 'Ocultar': 'Mostrar'}}</button>
       -->
        <div class="card-body" *ngIf="clientes.length > 0 else mensaje">
            
            <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="form-group">
                <button routerLink="/clientes/form" class="btn">Crear cliente</button>
            </div>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th *ngIf="authService.isAuthenticated()" scope="col">Perfil</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha</th>
                    <th *ngIf="authService.isAuthenticated()" scope="col">Ver</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th *ngIf="authService.isAuthenticated()" class="columImg" [routerLink]="['/clientes/ver/', cliente.id]">
                        <div class="card-header img" *ngIf="cliente.foto">
                            <img class="card-img-top perfil" alt="Perfil" src="{{urlBaseImage}}{{cliente.foto}}" alt="Card image cap">
                        </div>
                
                        <div class="card-header img" *ngIf="!cliente.foto">
                            <img class="card-img-top perfil" src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png" alt="Card image cap">
                        </div>
                    </th>
                    <td>{{cliente.nombre | uppercase }}</td>
                    <td>{{cliente.apellido | uppercase}}</td>
                    <td>{{cliente.email | lowercase}}</td>
                    <td>{{cliente.createAt | date:'fullDate'}}</td>
                    <td *ngIf="authService.isAuthenticated()">
                        <button type="button" class="btn btn-ver" [routerLink]="['/clientes/ver/', cliente.id]">
                            <i class="fa-sharp fa-solid fa-eye"></i> 
                        </button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" class="btn btn-edit" [routerLink]="['/clientes/form/', cliente.id]">
                            <i class="fa-solid fa-user-pen"></i>    
                        </button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button class="btn btn-delete" (click)="delete(cliente)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

        <ng-template #mensaje>
            <h1 class="alert mensaje">No hay registros para mostrar</h1>
        </ng-template>
    <div>
        <app-paginator *ngIf="paginador" [paginador] = "paginador"></app-paginator>
    </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

