<div class="spinner" *ngIf="loading == 1">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="contenedor" *ngIf="loading == 0">

    <div class="header">
        <app-header></app-header>
    </div>

    <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="form-group crearClientebtn">
        <button mat-raised-button routerLink="/clientes/form" color="primary">Crear cliente</button>
    </div>

    <div class="contenido" *ngIf="clientes.length > 0 else mensaje">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th *ngIf="authService.isAuthenticated()" scope="col">Perfil</th>
                    <th scope="col">Nombres</th>
                    <th scope="col" class="campo">Apellidos</th>
                    <th scope="col" class="campo">Email</th>
                    <th scope="col" class="campo">Fecha</th>
                    <th scope="col" class="campo">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th *ngIf="authService.isAuthenticated()" class="columImg"
                        [routerLink]="['/clientes/ver/', cliente.id]">
                        <div class="card-header img" *ngIf="cliente.foto">
                            <img class="card-img-top perfil" alt="Perfil" src="{{urlBaseImage}}{{cliente.foto}}"
                                alt="Card image cap">
                        </div>

                        <div class="card-header img" *ngIf="!cliente.foto">
                            <img class="card-img-top perfil"
                                src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png"
                                alt="Card image cap">
                        </div>
                    </th>
                    <td>
                        <p>{{cliente.nombre | uppercase }}</p>
                    </td>
                    <td class="campo">
                        <p>{{cliente.apellido | uppercase}}</p>
                    </td>
                    <td class="campo">
                        <p>{{cliente.email | lowercase}}</p>
                    </td>
                    <td class="campo">
                        <p>{{cliente.createAt | date:'fullDate'}}</p>
                    </td>
                    <td class="opciones">
                        <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-raised-button routerLink="/clientes/form" color="primary" [routerLink]="['/clientes/form/', cliente.id]">
                            <i class="fa-solid fa-user-pen"></i>
                        </button>

                        <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-raised-button color="warn" (click)="delete(cliente)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #mensaje>
        <h1 class="alert mensaje">No hay registros para mostrar</h1>
    </ng-template>

    <div class="paginador">
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>