/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

/* Estructura del documento  */
.contenedor{
    display: grid;
    width: 100%;
    height: 100vh;
    row-gap: 10px;

    grid-template-columns: repeat(5);

    grid-template-areas: "header"
                         "crearClientebtn"
                         "contenido"
                         "paginador"
                         "footer";
}

.contenedor>.header{
    grid-area: header;
}

.contenedor>.crearClientebtn{
    width: 90;
    margin: auto;
    grid-area: crearClientebtn;
}

.contenedor>.contenido{
    grid-area: contenido;
}

.contenedor>.paginador{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-area: paginador;
}

.contenedor>.footer{
    grid-area: footer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Spinner */
.spinner {
    position: absolute;
    margin-top: 50vh;
    margin-left: 50%;
  }
  
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #c73d17;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
  
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
  
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
  
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}